 body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}
p {
  border-style: double;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 60px;
  margin-left: 40px;
  
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 300px;
}

.mdl-slider__container {
    background-color: white !important; /* Met le fond de la barre en blanc */
    position: fixed !important; /* Permet de définir la position de la barre comme fixe */
    top: 0; /* Défini la postion de la barre en haut */
    z-index: 200; /* Une valeur élevée ici permet de s'assurer que l'élément est au dessus des autres */
    width: 100vw; /* Défini la largeur de l'élément comme étant 100% de la largeur de l'écran */
